body{
    padding: 0;
    margin: 0;
    width: 1080px;
    height: 1920px;
    background-color: white;
    background-image: url("../assets/suit.png");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;

}